#cajaform{
    width: 50%;
}
#cajaboton{
    display: flex;
    justify-content: end;
}
#infoget{
    width: 50%;
}
#dato1{
    width: 150px;
}
#enviar{
    width: 150px;
}
#encabezados>th{
    color: yellowgreen;
}
.btn{
    color: yellowgreen;
}
#borrar{
    width: 35px;
    height: 35px;
}
.botonicon{
    width: 26px;
    height: 26px;
    background-image: url(../assets/img/delete.png);
    background-repeat: no-repeat;
}
.botonyes{
    width: 36px;
    height: 36px;
    background-image: url(../assets/img/yes.png);
    background-repeat: no-repeat;
}
.botonnot{
    width: 36px;
    height: 36px;
    background-image: url(../assets/img/not.png);
    background-repeat: no-repeat;
}
#confirm{
    width: 100%;
}
