.textol{
    color: chartreuse;
}

.margincajas{
    margin-block: 10px;
}

.cajapequena{
    width: 30%;
}

.sombracaja{
    box-shadow: 10px 10px 5px 0px rgba(17, 17, 16, 0.75);
}

.enlaces{
    color: chartreuse;
    text-decoration: none;
}

.centrar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bordes{
    border: 1px solid rgb(74, 76, 71);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(17, 17, 16, 0.75);
}